* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    position: relative;
}

/* || Button Styles */
/* .btn {

} */


/* || Media Queries */

/* Fluid Typography for font size based on 
https://css-tricks.com/snippets/css/fluid-typography/ */
@media screen and (min-width: 480px) {
    /* The calculation is font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}