/* || Section Styles */
#hero {
    position: relative;
}

/* || Button Styles */
/* .btn {
    padding: 10px 18px;
    background-color: var(--color-primary);
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover,
.btn:active {
    background-color: var(--color-primary-accent);
    color: var(--color-tertiary);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-tertiary);
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--color-secondary);
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: var(--color-secondary-accent);
    border-color: var(--color-tertiary);
} */

/* || Media Queries */

/* Fluid Typography for font size based on 
https://css-tricks.com/snippets/css/fluid-typography/ */
@media screen and (min-width: 480px) {
    /* The calculation is font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}
