/* || COLLAGE STYLES */
.collage {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 528px;
    -webkit-mask-image: linear-gradient(to right, transparent 20%, black 100%);
    mask-image: linear-gradient(to right, transparent 20%, black 100%);
    overflow: hidden;
}

.collage__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6em;
    font-weight: 200;
    left: 5%;
    margin-top: 1rem;
    position: absolute;
    z-index: 1;
    animation: titleFadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.collage__title span {
    color: var(--color-secondary);
    margin-left: 40%;
}
.collage__title span:nth-of-type(2) {
    margin-left: 80%;
    color: var(--color-tertiary);
}

.collage__image {
    height: 25%;
    margin-left: 5px;
    margin-bottom: 5px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* || Animations */

@keyframes titleFadeIn {
    0% {
        left: 50%;
        opacity: 0;
    }

    100% {
        left: 5%;
        opacity: 1;
    }
}

@keyframes titleFadeInMobile {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* || MEDIA QUERIES */

@media (max-width: 780px) {
    .collage {
        -webkit-mask-image: linear-gradient(
            to bottom,
            transparent 40%,
            black 100%
        );
        mask-image: linear-gradient(to bottom, transparent 40%, black 100%);
        flex-direction: column-reverse;
        position: fixed;
        width: 100%;
    }

    .collage__title {
        left: 0;
        top: 0;
        font-size: 5em;
        margin-top: 16px;
        text-align: center;
        width: 100%;
        animation: titleFadeInMobile ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .collage__title span,
    .collage__title span:nth-of-type(2) {
        margin: 0;
    }

    .collage__image {
        width: 25%;
        height: auto;
    }
}
