.main-nav {
    background-color: #fff;
    padding: 0 15px;
}

/* || Brand Styles */

.main-nav__logo {
    position: relative;
    display: inline-block;
}

.toggle-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.toggle-btn:focus {
    outline: none;
}

/* Mobile Menu */
.main-nav__menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.main-nav__link {
    color: black;
    display: block;
    margin: auto;
    padding: 15px 5px;
    text-decoration: none;
}

.main-nav__brand {
    font-size: 1.2em;
    order: 0;
    padding: 7.5px 10px 7.5px 0;
}

.toggle {
    font-size: 20px;
    order: 1;
}

.main-nav__item.btn {
    padding: 9px 5px;
    order: 3;
}

.main-nav__item {
    display: none;
    padding: 10px;
    text-align: center;
    order: 2;
    width: 100%;
}

.active .main-nav__item {
    display: block;
}

.btn.secondary {
    border-bottom: 1px solid #444;
}

.main-nav__brand a:hover,
.main-nav__brand a:active,
.main-nav__item:not(.btn) a:hover,
.main-nav__item a:active {
    color: var(--color-secondary-accent);
}

/* || MEDIA QUERIES */
@media all and (min-width: 960px) {
    .main-nav__menu {
        align-items: flex-end;
        background: none;
        flex-wrap: nowrap;
    }

    .main-nav__brand {
        flex: 1;
        order: 0;
        width: 10vw;
    }

    .main-nav__item {
        display: block;
        order: 2;
        position: relative;
        width: auto;
    }

    .main-nav__item.btn button {
        background-color: var(--color-primary);
        border: 1px var(--color-primary-accent) solid;
        color: white;
        display: block;
        margin: 5px 0;
        order: 1;
        padding: 10px 15px;
        width: auto;
    }

    .btn.secondary button {
        background: transparent;
        border: 1px var(--color-secondary) solid;
        color: var(--color-secondary);
    }

    .btn.secondary {
        border-bottom: none;
    }

    .btn:not(.secondary) a:hover,
    .btn:not(.secondary) a:active {
        background: var(--color-primary-accent);
    }

    .btn.secondary a:hover,
    .btn.secondary a:active {
        border-color: var(--color-secondary-accent);
        color: var(--color-secondary-accent);
    }

    .toggle {
        display: none;
    }
}
